<h1>Welcome to FeastFreedom!</h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" routerLink="/provider-login">Provider Login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/user-login">User Login</a>
                  </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/checkout">Checkout</a>
                  </li>
          </ul>
        </div>

        <button color="accent" (click)="logout()">Logout</button>
      </nav>
      
<div class="footer">©Team Leftovers | 2018</div>

<router-outlet></router-outlet>
<!-- <app-menu></app-menu> -->
<!-- <app-user-login></app-user-login> -->


