<br>
<form class="align-items-center container w-50">
    <div class="form-group" >
      <label for="userRegFirstName">First name</label>
      <input type="email" class="form-control" id="userRegFirstName" >
    </div>

    <div class="form-group">
        <label for="userRegLastName">Last name</label>
        <input type="email" class="form-control" id="userRegLastName" >
    </div>

    <div class="form-group">
        <label for="userRegEmail">Email address</label>
        <input type="email" class="form-control" id="userRegEmail" >
      </div>

      <div class="form-group">
          <label for="userRegPassword">Password</label>
          <input type="password" class="form-control" id="userRegPassword" >
      </div>

      <div class="form-group">
          <label for="userRegQ1">Security Question 1</label>
          <input type="email" class="form-control" id="userRegQ1" >
      </div>
          
      <div class="form-group">
          <label for="userRegA1">Answer 1</label>
          <input type="email" class="form-control" id="userRegA1" >
      </div>
  
      <div class="form-group">
          <label for="userRegQ2">Security Question 2</label>
          <input type="email" class="form-control" id="userRegQ2" >
      </div>

      <div class="form-group">
          <label for="userRegA2">Answer 2</label>
          <input type="email" class="form-control" id="userRegA2" >
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-light mr-2">Cancel</button>
        <button type="button" class="btn btn-success ml-2">Submit</button>
      </div>
</form>
